@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fondos*/
.fondoBarricas {
    background-image: url(../img/fondobarricas.jpg);
}
.fondoNeutro {
    background-color: white;
}
.fondoRosa {
    background-color: #cd849a;
}
.fondoGranate {
    background-image: url(../img/fondogranate.png);
}
.fondoEventos {
    background-image: url(../img/fondoeventos.jpeg);
}
.fondoPlaza {
    background-image: url(../img/fondoplazamayor.jpg);
}

.fondoNoticias {
    background-image: url(../img/fondoNoticias.jpg);
}
/*propiedades del section para que se centre su contenido*/
section {
    max-width: 1300px;
    margin: 0 auto;
}
/*cabecera y menu de navegación*/
.title {
    margin: 25px 0;
    font-family: "Sedan", serif;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
}
.subTitle {
    text-transform: uppercase;
    text-align: center;
}
.titleBox {
    position: absolute;
    min-height: 109px;
    width: 100%;
    max-width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /*para colocar la cabecera por encima de los objetos al fijarla*/
    z-index: 1; 
}
.box1 {
    flex-grow: 1;
    display: none;
}
.box2 {
    flex-grow: 4;
    text-align: center;
}
.box2 div {
    background-color: white;
    color: #700215;
    font-family: "Sedan", serif;
    font-size: 33px;
    text-transform: uppercase;
    width: 100%;
    max-width: 100%;
    min-height: 50px;
    padding-top: 4.5px;
}
.box3 {
    flex-grow: 1;
    display: none;
}
.marginBox{
    min-height: 135px;
}
.menu *{
    background-color: #700215;
}
.menu {
    position: relative;
    max-width: 100%;
    width: 100%;
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: solid 2px whitesmoke;
}
.menu.center {
    margin-top: 13px;
}
ul{
    list-style: none;
}
.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu li a {
    text-decoration: none;
    color: white;
    border: solid 1px #700215;
    padding: 5px 10px;
    display: block;
    line-height: 22px;
}
.menu li a:hover {
    background-color: white;
    color: #700215;
    transform: scale(1.1);
}
.menu>li{
    float: left;
}
.menu li ul{
    display: none;
    position: absolute;
    min-width: 100px;
}
.menu li:hover>ul {
    display: block;
}
.menu li ul li {
    position: relative;
    min-width: 30px;
}
/*centrar objetos*/
.center {
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
/*posición de fondos*/
.noRepeat {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/*margenes del texto de protección de datos*/
.padding-proteccion {
    padding: 0 20px;
    margin-bottom: 30px;
}
/*footer copyright*/
.webFooter {
    padding: 20px 10px;
}
.webFooter p {
    color: white;
    font-weight: 400;
    font-size: 13px;
    font-family: "Work Sans", sans-serif;
}

/*querries*/
/*Entre 769px y 991px el título y el menu de navegación ocupan el 80% del ancho del box2 (tamaño tablet), por debajo de 769px pasa a ocupar el 100% del ancho de la pantalla (tamaño mobile)*/
@media (min-width: 769px) and (max-width: 991px) {
    .box2 div,
    .menu {
        width: 85%;
        max-width: 85%;
    }
    .box1,
    .box3 {
        display: block;
    }
}
/*A partir de 992px el título y menu navegación pasan a ocupar el 70% del ancho del box2 (tamaño desktop)*/
@media (min-width: 992px) {
    .box2 div,
    .menu {
        width: 70%;
        max-width: 70%;
    }
    .box1,
    .box3 {
        display: block;
    }
}
/*Por debajo de 576px se reducen algunos tamaños para adecuar a vista reducida mobile*/
@media (max-width: 576px) {
    .marginBox {
        min-height: 170px;
    }
    .box2 div {
        font-size: 28px;
    }
    .menu {
        font-size: 11.5px;
    }
    .title {
        font-size: 29px;
    }
    .subTitle {
        font-size: 22px;
    }
}